<div class="form-group">
  <label>IBAN</label>
  <input type="text" class="form-control" name="iban" data-js="input-iban" value="{{bank.iban}}">
  {{#if error.iban}}
  <div class="error">{{error.iban}}</div>
  {{/if}}
</div>
<div class="form-group">
  <label>BIC</label>
  <input type="text" class="form-control" name="bic" data-js="input-bic" value="{{bank.bic}}">
  {{#if error.bic}}
  <div class="error">{{error.bic}}</div>
  {{/if}}
</div>

<button type="button" class="btn btn-danger" data-js="delete">Delete</button>
